<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Cadáver Delicado</title>
    </head>
    <body>
        <div id="principal" align="center">
            <form method="POST">
                <span>
                    <label for="palavra-escolhida">Insira um {{pedir}}</label>
                    <input
                        id="palavra-escolhida"
                        name="palavra-escolhida"
                        type="text"
                        autocomplete="off"
                        required
                    />
                    <button type="submit">Enviar</button>
                </span>
            </form>
        </div>
    </body>
</html>
